/* I wrote this CSS to make Vivaldi integrate with
 * the arc theme for Linux, but I have had few issues
 * running it with other themes so far.
 * 
 * Author: Tiamarth
 * 
 * - tiabusy@gmail.com
 * - https://github.com/Tiamarth
 * - http://tiamarth.com/
 * 
 * CURRENT VERSION: 5.0
 * 
 * LICENSE: GNU General Public License v3.0 | https://github.com/Tiamarth/Arc-for-Vivaldi/blob/master/LICENSE
 * 
 */

/* pallete */
/* everything except shadows is defined here, including black, white, and transparent, just in case i want to change these values to something more subtle in the future */
:root {
    --white: white;
    --black: black;
    --transparent: transparent;
    --arcDarkBg: #2f343f;
    --arcSuperDarkBg: #1e232d;
    --arcHighlight: #5294e2;
    --arcHighlighter: #88B7F0;
    --arcHighlightest: #bcd6f5;
    --arcDarkText: #d3dae3;
    --arcPanel: #2A303A;
    --arcBaseButtonHover: #dcdcdc;
    --arcDarkerButtonHover: #c3c3c3;
    --arcDarkButtonHover: #505465;
}
/* remove vivaldi's header gradient and make splash use arc bg color */
body {
    background-color: var(--arcBase) !important;
    --colorAccentBgDark: var(--transparent) !important;
}
/* small animation when buttons get hovered when user has animations enabled */
#browser.animation-on .button-toolbar,
#browser.animation-on .button-toolbar:hover,
#browser.animation-on .button-category,
#browser.animation-on .button-category:hover,
#browser.animation-on .bookmark-bar button,
#browser.animation-on .bookmark-bar button:hover,
#browser.animation-on #panel_switch,
#browser.animation-on #panel_switch:hover,
#browser.animation-on #switch button,
#browser.animation-on #switch button:hover,
#browser.animation-on #footer button,
#browser.animation-on #footer button:hover {
    transition: 0.1s !important;
}
#browser.animation-on .button-toolbar,
#browser.animation-on .button-category,
#browser.animation-on .bookmark-bar button,
#browser.animation-on #panel_switch,
#browser.animation-on #switch button,
#browser.animation-on #footer button {
    transition-delay: 0.1s !important;
}
#browser.animation-on .bookmark-bar button:hover {border: initial !important;}
/* --arc base */
#browser.ui-transparent-tabs.color-behind-tabs-off.animation-on.theme-light.hi-dark.acc-light .button-toolbar:hover,
#browser.ui-transparent-tabs.color-behind-tabs-off.animation-on.theme-light.hi-dark.acc-light .bookmark-bar button:hover {
    background: var(--arcBaseButtonHover) !important;
}
/* -- arc darker */
#browser.ui-transparent-tabs.color-behind-tabs-on.theme-light.hi-dark.acc-dark .button-toolbar:hover,
#browser.ui-transparent-tabs.color-behind-tabs-on.theme-light.hi-dark.acc-dark .bookmark-bar button:hover,
#browser.ui-transparent-tabs.color-behind-tabs-on.theme-light.hi-dark.acc-dark #footer button:hover {
    background: var(--arcDarkerButtonHover) !important;
}
/* --arc dark */
#browser.ui-transparent-tabs.color-behind-tabs-off.theme-dark.hi-dark.acc-dark .button-toolbar:hover,
#browser.ui-transparent-tabs.color-behind-tabs-off.theme-dark.hi-dark.acc-dark .bookmark-bar button:hover {
    background: var(--arcDarkButtonHover) !important;
}
/* reset animations of buttons that aren't on toolbars */
#panels .panel-group .panel .button-toolbar:hover,
#webpage-stack .active.internal.visible.webpageview .internal-page .settings-content .button-toolbar:hover {
    background: var(--colorBg) !important;
    transition: initial !important;
    transition-delay: initial !important;
}
/* shadow above navigation bar */
#tabs-container {box-shadow: inset 0 -10px 1.7px -10px rgba(0,0,0,0.2);}
.theme-dark #tabs-container {box-shadow: inset 0 -10px 3px -9px rgba(0,0,0,0.4);}
#browser:not(.tabs-top) #tabs-container {box-shadow: none;}
#browser:not(.tabs-top).theme-dark #tabs-container {box-shadow: none;}
/* build shadow around active tab */
.tab-position .tab.active {
    box-shadow: 0 -2px 2px rgba(0,0,0,0), /* top */
    -1px -1px 0.2px rgba(0,0,0,0.1), /* left */
    1px -1px 0.2px rgba(0,0,0,0.1); /* right */
}
.theme-dark .tab-position .tab.active {
    box-shadow: 0px -2px 3px rgba(0,0,0,0.2),
    -2.5px -1px 0.2px rgba(0,0,0,0.2),
    2.5px -1px 0.2px rgba(0,0,0,0.2);
}
#browser:not(.tabs-top) .tab-position .tab.active {box-shadow: none;}
#browser:not(.tabs-top).theme-dark .tab-position .tab.active {box-shadow: none;}
/* tab hover color consistency */
.theme-light.acc-dark .tab:hover {background: var(--arcSuperDarkBg) !important;}
/* blue tab stack indicators */
.tab-group-indicator {background: var(--colorBg);}
.color-behind-tabs-on .tab-group-indicator {background: var(--colorAccentBg);}

.stacks-on .tab-strip .tab .tab-group-indicator .tab-indicator,
.color-behind-tabs-on.stacks-on .tab-strip .tab .tab-group-indicator .tab-indicator {
    border-top: none;
    margin-bottom: -2px;
    background-color: var(--arcHighlight) !important;
}
.stacks-on .tab-strip .tab .tab-group-indicator .tab-indicator:hover {background-color: var(--arcHighlightest) !important;}
.stacks-on .tab-strip .tab .tab-group-indicator .tab-indicator.active,
.stacks-on .tab-strip .tab.active .tab-group-indicator .tab-indicator.active,
.stacks-on .tab-strip .tab:hover:not(.active) .tab-group-indicator .tab-indicator.active,
.color-behind-tabs-on.stacks-on .tab-strip .tab .tab-group-indicator .tab-indicator.active {
    background-color: var(--arcHighlighter) !important;
}
.tabs-top.tabs-at-edge.maximized.stacks-on .tab-strip .tab .tab-group-indicator .tab-indicator.active {padding-bottom: 0;}
/* remove from this line down to line 182 if you don't want to use arc's window buttons */
/* better positioning on window buttons */
/* linux */
.linux .window-buttongroup {margin-top: 4.5px;}
.linux .maximized .window-buttongroup {margin: initial;}
.linux #browser:not(.tabs-top) .window-buttongroup {margin-top: 4px;}
.linux #browser:not(.tabs-top).address-off .window-buttongroup,
.linux #browser:not(.tabs-top).address-bottom .window-buttongroup {margin-top: -1px;}
.linux .window-minimize {margin-right: 5px !important;}
.linux .window-maximize {margin-right: 5px !important;}
.linux .window-close {margin-right: -7px !important;}
/* windows */
.win .window-buttongroup {margin-top: 9.4px;}
.win #browser:not(.tabs-top) .window-buttongroup {margin-top: 4px;}
.win #browser:not(.tabs-top).address-off .window-buttongroup,
.win #browser:not(.tabs-top).address-bottom .window-buttongroup {margin-top: -1px;}
.win .window-close {margin-right: -17px !important;}
/* remove background on window buttons */
.window-buttongroup button {
    width: 30px;
    background-color: rgba(0,0,0,0) !important;
}
.window-buttongroup button:hover {background-color: rgba(0,0,0,0) !important;}
.window-buttongroup button:active {background-color: rgba(0,0,0,0) !important;}
.isblurred #browser .window-buttongroup img {opacity: 0.3;}
/* hide default window buttons svgs */
.window-buttongroup svg {display: none;}
/* apply arc window buttons */
/* minimize */
.window-minimize {background: url('arc/titlebutton-minimize.png') no-repeat;}
/* maximize */
.window-maximize {background: url('arc/titlebutton-maximize.png') no-repeat;}
/* close */
.window-close {background: url('arc/titlebutton-close.png') no-repeat;}
/* on hover */
.window-minimize:hover {background: url('arc/titlebutton-minimize-hover.png') no-repeat !important;}
.window-maximize:hover {background: url('arc/titlebutton-maximize-hover.png') no-repeat !important;}
.window-close:hover {background: url('arc/titlebutton-close-hover.png') no-repeat !important;}
/* on hover:active */
.window-minimize:hover:active {background: url('arc/titlebutton-minimize-active.png') no-repeat !important;}
.window-maximize:hover:active {background: url('arc/titlebutton-maximize-active.png') no-repeat !important;}
.window-close:hover:active {background: url('arc/titlebutton-close-active.png') no-repeat !important;}
/* on dark theme */
.acc-dark.color-behind-tabs-on .window-minimize,.theme-dark .window-minimize {background: url('arc/titlebutton-minimize-dark.png') no-repeat;}
.acc-dark.color-behind-tabs-on .window-maximize,.theme-dark .window-maximize {background: url('arc/titlebutton-maximize-dark.png') no-repeat;}
.acc-dark.color-behind-tabs-on .window-close,.theme-dark .window-close {background: url('arc/titlebutton-close-dark.png') no-repeat;}
/* on dark theme:hover */
.acc-dark.color-behind-tabs-on .window-minimize:hover,.theme-dark .window-minimize:hover {background: url('arc/titlebutton-minimize-hover-dark.png') no-repeat !important;}
.acc-dark.color-behind-tabs-on .window-maximize:hover,.theme-dark .window-maximize:hover {background: url('arc/titlebutton-maximize-hover-dark.png') no-repeat !important;}
.acc-dark.color-behind-tabs-on .window-close:hover,.theme-dark .window-close:hover {background: url('arc/titlebutton-close-hover-dark.png') no-repeat !important;}
/* on dark theme:hover:active */
.acc-dark.color-behind-tabs-on .window-minimize:hover:active,.theme-dark .window-minimize:hover:active {background: url('arc/titlebutton-minimize-active-dark.png') no-repeat !important;}
.acc-dark.color-behind-tabs-on .window-maximize:hover:active,.theme-dark .window-maximize:hover:active {background: url('arc/titlebutton-maximize-active-dark.png') no-repeat !important;}
.acc-dark.color-behind-tabs-on .window-close:hover:active,.theme-dark .window-close:hover:active {background: url('arc/titlebutton-close-active-dark.png') no-repeat !important;}
/* on light theme dark accent behind tabs */
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-minimize {background: url('arc/titlebutton-minimize.png') no-repeat !important;}
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-maximize {background: url('arc/titlebutton-maximize.png') no-repeat !important;}
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-close {background: url('arc/titlebutton-close.png') no-repeat !important;}
/* on light theme dark accent behind tabs:hover */
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-minimize:hover {background: url('arc/titlebutton-minimize-hover.png') no-repeat !important;}
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-maximize:hover {background: url('arc/titlebutton-maximize-hover.png') no-repeat !important;}
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-close:hover {background: url('arc/titlebutton-close-hover.png') no-repeat !important;}
/* on light theme dark accent behind tabs:hover:active */
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-minimize:hover:active {background: url('arc/titlebutton-minimize-active.png') no-repeat !important;}
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-maximize:hover:active {background: url('arc/titlebutton-maximize-active.png') no-repeat !important;}
#browser:not(.tabs-top).acc-dark.color-behind-tabs-on .window-close:hover:active {background: url('arc/titlebutton-close-active.png') no-repeat !important;}
/* on inactive window:base */
.isblurred .window-minimize {background: url('arc/titlebutton-minimize-backdrop.png') no-repeat;}
.isblurred .window-maximize {background: url('arc/titlebutton-maximize-backdrop.png') no-repeat;}
.isblurred .window-close {background: url('arc/titlebutton-close-backdrop.png') no-repeat;}
/* on inactive window:dark */
.acc-dark.isblurred .window-minimize,.theme-dark.isblurred .window-minimize {background: url('arc/titlebutton-minimize-backdrop-dark.png') no-repeat;}
.acc-dark.isblurred .window-maximize,.theme-dark.isblurred .window-maximize {background: url('arc/titlebutton-maximize-backdrop-dark.png') no-repeat;}
.acc-dark.isblurred .window-close,.theme-dark.isblurred .window-close {background: url('arc/titlebutton-close-backdrop-dark.png') no-repeat;}
/* make small black border under address bar more subtle */
.toolbar-mainbar:after {background-color: rgba(35, 23, 23, 0.12) !important;}
.theme-dark .toolbar-mainbar:after {background-color: rgba(23, 27, 35, 0.8) !important;}
/* dark panel on all themes */
#panel_switch,#switch {box-shadow: inset -1px 0 var(--arcPanel) !important;}
#panel_switch,#switch,#panels-container:after {background: var(--arcPanel);}
#panels-container:after {border-right: 1px solid rgba(0,0,0,0.35) !important;}
#panel_switch polygon,#switch button svg {fill: var(--arcDarkText) !important;}
#switch button.active svg {fill: var(--colorFg) !important;}
#switch button.active,
#switch button.active:hover {
    background-color: var(--colorBgLightIntense) !important;
    border: 1px rgba(0,0,0,0.5);
    border-style: inset none inset none;
}
.theme-dark #switch .webviewbtn img,#switch button {background: transparent !important;}
#panel_switch:hover,#switch button:hover {background: var(--arcDarkButtonHover) !important;}
/* remove border on panel button hover */
#switch button:hover:not(:disabled):not(.active) {box-shadow: initial;}
/* active tab in windows panel always uses theme highlight color */
.vivaldi-tree .title.active,
.vivaldi-tree .tree-row[data-selected],
.vivaldi-tree .tree-row[data-selected][data-nofocus] {
    color: var(--white);
    background: var(--arcHighlight) !important;
}
/* dark speed dial navigation unless light theme with light accent */
.startpage .button-startpage {background-color: var(--transparent) !important;}
.acc-dark button.button-startpage.active,
.acc-dark .startpage .startpage-navigation,
.theme-dark button.button-startpage.active,
.theme-dark .startpage .startpage-navigation {
    color: var(--arcDarkText);
    background: var(--arcDarkBg);
}
.acc-dark .startpage .startpage-navigation,
.theme-dark .startpage .startpage-navigation {
    box-shadow: inset 0 -2px 0 var(--arcDarkBg);
}
.startpage-navigation-group:before {display: none;}
.acc-dark button.button-startpage:after {display: none;}
.startpage .startpage-navigation .startpage-navigation-group:last-of-type {border-left: none;}
/* use arc colors for status info overlay */
.status-info {
    border: 0 !important;
    color: var(--white) !important;
    background: var(--arcHighlight) !important;
}
/* use arc sidebar color in vivaldi's settings dialog */
.button-category.category-selected:hover {background: var(--colorBgLighter) !important;}
.button-category:hover {background: var(--arcDarkButtonHover) !important;}
.settings-search {
    background: var(--arcSuperDarkBg);
    border-width: 0 !important;
}
.vivaldi-settings .settings-sidebar {
    color: var(--arcDarkText);
    background: var(--arcPanel) !important;
}
.vivaldi-settings .settings-sidebar .button-category.category-selected svg {fill: var(--arcPanel);}
.vivaldi-settings .settings-sidebar svg {fill: var(--white);}
.button-category:focus:not([tabindex='-1']),
.button-category:focus:not([tabindex='-1']) svg,
.settings-sidebar .settings-navigation .navigation-category.category-selected .button-category.category-full-selected,
.settings-sidebar .settings-navigation .navigation-category.category-selected .button-category.category-full-selected svg {
    color: var(--colorFg);
    fill: var(--colorHighlightBg);
    background: var(--colorBgLightIntense) !important;
    transition: initial !important;
}
/* arc style scrollbars, for these scrollbars universally: https://userstyles.org/styles/142645/arc-scrollbars */
#browser ::-webkit-scrollbar {
    width: 9px !important;
    height: 9px !important;
}
#browser ::-webkit-scrollbar-button {display: none !important;}
#browser ::-webkit-scrollbar-track {background-color: transparent !important;}
#browser ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.35) !important;
    border: rgba(211,218,227,0.5) solid 1px !important;
    -webkit-border-radius: 20px !important;
}
#browser ::-webkit-scrollbar-thumb:hover {
    border: none !important;
    background: rgba(119,119,119,0.5) !important;
}
#browser ::-webkit-scrollbar-thumb:active {
    border: none !important;
    background: var(--arcHighlight) !important;
}
